# registry=https://registry.npm.taobao.org
# registry=https://registry.npmjs.org
# registry=https://repo.wisesoft.net.cn/repository/sge-group-npm/
registry=https://registry.npmmirror.com/
# shamefully-hoist=true
