/*自定义换肤主题配置*/
/* eoss内部定义的所有变量都可以在此重新定义*/
$--color-primary: var(--theme-primary);
$--color-primary-light-1: var(--theme-primary-light-1);
$--color-primary-light-2: var(--theme-primary-light-2);
$--color-primary-light-3: var(--theme-primary-light-3);
$--color-primary-light-4: var(--theme-primary-light-4);
$--color-primary-light-5: var(--theme-primary-light-5);
$--color-primary-light-6: var(--theme-primary-light-6);
$--color-primary-light-7: var(--theme-primary-light-7);
$--color-primary-light-8: var(--theme-primary-light-8);
$--color-primary-light-9: var(--theme-primary-light-9);
$--color-primary-light-10: var(--theme-primary-light-10);

/*
    固定颜色主题配置采用如下配置方式

    $--color-primary: #e94c41;
*/

$--el-font-path: '~eoss-element/lib/theme-chalk/fonts';
@import '~eoss-element/packages/theme-chalk/src/index';
$--es-font-path: '~eoss-ui/lib/theme-chalk/fonts';
@import '~eoss-ui/packages/theme-chalk/src/index';

@import './main.scss';
@import './style.scss';
@import './config.base.scss';
